.text-body {
  color: var(--text-body);
}
.text-body-invert {
  color: var(--text-body-invert);
}
.text-primary {
  color: var(--text-primary);
}
.text-accent {
  color: var(--text-accent);
}
.text-success {
  color: var(--text-success);
}
.text-info {
  color: var(--text-info);
}
.text-warning {
  color: var(--text-warning);
}
.text-danger {
  color: var(--text-danger);
}
