.preheader-navbar {
  .navbar-nav:first-child {
    padding-inline-start: 0;
  }

  .button-type {
    .nav-item:not(:last-child) {
      margin-inline-end: 1em;
    }
  }

  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--text-body-invert);
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--text-body-invert);
  }
}

section.header {
  box-shadow: var(--box-shadow);
  border-radius: 0.5em;
  overflow: hidden;

  .header-main {
    background-color: var(--color-basic-200);
    padding: 1em 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    > *:not(:last-child) {
      margin-inline-end: 1em;
    }
  }

  .search-container {
    position: relative;
    flex-grow: 1;

    .btn {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      height: calc(100% - 0.4rem);
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .logo-wrap {
    padding: 0 1rem;
    img {
      width: 20rem;
    }
  }

  .subheader-navbar {
    background-color: var(--color-basic-800);

    .navbar-nav:first-child {
      padding-inline-start: 0.5em;
    }
  }
}

.preheader-navbar-row {
  width: 100%;
  margin: 0;
  padding: 0;

  .preheader-navbar-col {
    // display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    &:not(:first-child) {
      justify-content: flex-end;
    }
  }
}

.modal-panel--body--inner {
  .nav.flex-column {
    padding: 0;
    width: 100%;

    .nav-item {
      margin-bottom: 0.5em;
    }
  }
}

.user-avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 99rem;
  overflow: hidden;

  img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 99rem;
    overflow: hidden;
    border: 1px solid var(--color-basic-700);
  }
}

@include media-breakpoint-up(xl) {
  .user-avatar {
    width: 2rem;
    height: 2rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

.dropdown-menu {
  box-shadow: $box-shadow;
  .dropdown-item {
    text-align: start;
    color: var(--color-basic-900);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1.5rem;

    .material-icons {
      color: var(--color-basic-600);
      margin-inline-start: 0.75em;
      font-size: 1.25em;
    }
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: var(--color-basic-900);
    background-color: var(--color-basic-300);
  }

  .dropdown-divider {
    border-top-color: var(--color-basic-500);
  }
}

.dropdown-toggle {
  position: relative;
  padding-inline-end: 2.5em;
  &::after {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-25%);
  }
}
